<table mat-table [dataSource]="listeLogement" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Etat Column -->
    <ng-container matColumnDef="occupe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Etat </th>
      <td mat-cell *matCellDef="let logement">
          <span id="occupe" class="dot" *ngIf="logement.occupe">....</span>
          <span id="nonoccupe" class="dot" *ngIf="!logement.occupe">....</span>
      </td>
    </ng-container>
  
    <!-- Date dispo Column -->
    <ng-container matColumnDef="dateSortie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date disponibilité </th>
      <td mat-cell *matCellDef="let logement">
        <ng-container *ngIf="logement.locataire != null; else defaultValue">
            {{logement.locataire.dateSortie}}
        </ng-container>
        <ng-template #defaultValue>
          Vide
        </ng-template>
      </td>
    </ng-container>
  
    <!-- Unité Column -->
    <ng-container matColumnDef="typeLogement">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Unité </th>
      <td mat-cell *matCellDef="let logement"> {{logement.typeLogement}} </td>
    </ng-container>
  
    <!-- Surface Column -->
    <ng-container matColumnDef="surface">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Surface </th>
      <td mat-cell *matCellDef="let logement"> {{logement.surface}} m² </td>
    </ng-container>

    <!-- Etage Column -->
    <ng-container matColumnDef="etage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Etage </th>
        <td mat-cell *matCellDef="let logement"> {{logement.etage}} </td>
      </ng-container>

      <!-- Nombre de personnes Column -->
    <ng-container matColumnDef="nbPersonnes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pers. </th>
        <td mat-cell *matCellDef="let logement"> 
            <ng-container *ngIf="logement.locataire != null; else defaultValue">
                {{logement.locataire.nbPersonnes}}
            </ng-container>
            <ng-template #defaultValue>
              Vide
            </ng-template>
        </td>
      </ng-container>

      <!-- Ville Column -->
    <ng-container matColumnDef="ville">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ville </th>
        <td mat-cell *matCellDef="let logement"> {{logement.ville}} </td>
      </ng-container>

      <!-- Quartier Column -->
    <ng-container matColumnDef="quartier">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quartier </th>
        <td mat-cell *matCellDef="let logement"> {{logement.quartier}} </td>
      </ng-container>

      <!-- Rue Column -->
    <ng-container matColumnDef="adresse">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rue </th>
        <td mat-cell *matCellDef="let logement" id="adresse" (click)="getLogement(logement.id)"> {{logement.adresse}} </td>
      </ng-container>

      <!-- Code postal Column -->
    <ng-container matColumnDef="codePostal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CP </th>
        <td mat-cell *matCellDef="let logement"> {{logement.codePostal}} </td>
      </ng-container>

      <!-- Loyer Column -->
    <ng-container matColumnDef="loyer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Loyer </th>
        <td mat-cell *matCellDef="let logement"> {{logement.loyer}} </td>
      </ng-container>

      <!-- Charges Column -->
    <ng-container matColumnDef="sommeCharges">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Charges </th>
        <td mat-cell *matCellDef="let logement"> {{logement.sommeCharges}} </td>
      </ng-container>

      <!-- Total Column -->
    <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
        <td mat-cell *matCellDef="let logement"> {{logement.total}} </td>
      </ng-container>

      <!-- Locataire Column -->
    <ng-container matColumnDef="locataire">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Locataire </th>
        <td mat-cell *matCellDef="let logement" [style.color]="getColor(logement.locataire)" id="locataire" (click)="getLocataire(logement.locataire.id)">
            <ng-container *ngIf="logement.locataire != null">
                {{logement.locataire.nom + " " + logement.locataire.prenom}}
            </ng-container>
            <ng-container *ngIf="logement.locataire == null">
              Vide
            </ng-container>
        </td>
      </ng-container>

      <!-- Propriétaire Column -->
    <ng-container matColumnDef="proprietaire">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Propriétaire </th>
        <td mat-cell *matCellDef="let logement" [ngClass]="{
            'homme' : logement.proprietaire.sexe === 'Homme',
            'femme' : logement.proprietaire.sexe === 'Femme'
         }"> {{logement.proprietaire.nom + " " + logement.proprietaire.prenom}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  