<header>
    <div id="all_ldhome">
        <img [src]="urlLogoLDHome" alt="logo LD Home" width="150px" height="150px" routerLink="agent/accueil">
        <div>
            <p id="ldhome">LD Home</p>
            <p id="realestate">Real Estate</p>
        </div>
    </div>
    <div id="deco_contact">
        <div *ngIf="isAgent" id="nbconnectes">
            <span class="dot" id="normal"></span>
            <p>connectés [0]</p><br>
        </div>
        <img *ngIf="isLoggedIn && !isAgent" [src]="urlLogoContact" alt="" width="50px" height="50px">
        <img *ngIf="isLoggedIn" (click)="logout()" routerLink="" [src]="urlLogoDeconnexion" width="50px" height="50px">
    </div>
</header>

<div id="menu" *ngIf="isLoggedIn">
    <div class="icone">
        <img [src]="urlLogoPropriete" alt="" width="75px" height="75px" id="propriete" routerLink="utilisateur/logements">
        <p>Propriétés</p>
    </div>
    <div *ngIf="isAgent"  class="icone">
        <img [src]="urlLogoLocataire" alt="" width="75px" height="75px" id="locataire" routerLink="utilisateur/locataire">
        <p>Locataires</p>
    </div>
    <div class="icone">
        <img [src]="urlLogoComptabilite" alt="" width="75px" height="75px" id="comptabilite">
        <p>Comptabilité</p>
    </div>
    <div class="icone">
        <img [src]="urlLogoInterventionTechnique" alt="" width="75px" height="75px" id="intervention">
        <p>Interventions Techniques</p>
    </div>
    <div class="icone" *ngIf="isAgent">
        <img [src]="urlLogoUtilisateur" alt="" width="75px" height="75px" id="profil">
        <p>Planning</p>
    </div>
    <div class="icone" *ngIf="isLoggedIn && !isAgent">
        <img [src]="urlLogoUtilisateur" alt="" width="75px" height="75px" id="profil" routerLink="utilisateur/profil">
        <p>Profil</p>
    </div>

    <div id="barre-recherche">
        <input type="text" class="recherche" placeholder="Recherche (adresse, nom, etc.)">
        <img [src]="urlLogoLoupe" alt="loupe" height="20px" width="20px">
    </div>
    
    
</div><br><br>

<p></p>
<router-outlet></router-outlet>
